.Project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1250px;
}

#projectsSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 600px){
        gap: 15px;
    }
}

#smallerSection{
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 10px var(--dark-grey);
    padding-bottom: 30px;
    border: 1px solid var(--dark-grey);
    width: 32%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @media(max-width: 600px){
        width: 100em;
    }
  }

  #projectImage{
    margin-top: 10px;
    width: 90%;
    box-shadow: 10px solid var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .projectImg{
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px var(--dark-grey);
  }

  #projectTextSection{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #projectTitle{
    font-weight: bold;
  }

  #projectDescription{

  }

  #projectSkills{
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
  }

  #projectLinks{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  

  #projectsLinkBtn{
    border-radius: 25px;
    height: 35px;
    width: 100px;
    border: none;
    box-shadow: 2px 2px var(--dark-grey);
    cursor: pointer;
    font-weight: bold; 
    color: var(--dark-grey);
    background-color: var(--main-color); 
    color: white; 
  }

  #projectsLinkBtn:hover{
    background-color: var(--secondary-color);
  }