.summaryProfile{
  height: 100%;
  width: 30%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media(max-width: 1430px){
    display: none;
  }
}

.summaryImage{
  width: 50%;
  border: 2px solid var(--dark-grey);
  border-radius: 25px;
}

.summaryName{
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-grey);
}

.summarySummary{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  height: 100%;
  width: 60%; 
  justify-content: center;

  @media(max-width: 1430px){
    text-align: center;
    width: 80%;
  }
}

.summaryTextTitle{
  color: var(--dark-grey);
  font-size: 25px;
  font-weight: bold;
}

.summaryText{
  color: var(--dark-grey);
  font-size: 20px;
}

.summaryContacts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
}

.summaryContact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  .nav-link{
    text-decoration: none;
  }

  .nav-link:hover{
    color: var(--secondary-color);
  }
}

.summaryContactIcon{
  font-size: 30px;
  color: var(--dark-grey);
}


.summarySection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}