.Summary{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 5px 10px var(--dark-grey);
}

.titleSection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  color: white;
  width: 14%;
  height: 70px;
  background-color: #8393e2;
  border-radius: 25px;
  box-shadow: 5px 10px var(--dark-grey);
  width: 100%;
  border: 2px solid #8393e2;
}

.contentSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  padding: 30px;
}

.section1{
  height: 100%;
  width: 30%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.summaryImage{
  width: 90%;
  border: 2px solid #6675c0;
  border-radius: 25px;
}

.summaryName{
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-grey);
}

.section2{
  height: 100%;
  width: 65%; 
}

.summarySummary{
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.summaryTextTitle{
  color: var(--dark-grey);
  font-size: 25px;
  font-weight: bold;
}

.summaryText{
  color: var(--dark-grey);
  font-size: 20px;
}

.summaryContacts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}

.summaryContact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.summaryContactIcon{
  font-size: 30px;
  color: var(--dark-grey);
}
