:root {
  --main-color: #6675c0;
  --secondary-color: #8393e2;
  --main-blue: #6FAFC9;
  --main-green: #86b38a;
  --white: #ffffff;
  --very-light-grey: #eeeeee;
  --light-grey: #E2E2E2;
  --medium-grey: #bbbbbb;
  --darker-grey: #121212;
  --dark-grey: #3A3A3B;
  --light-brown: #CBB48A;
  --light-blue: #E1E8ED;
  --red: #af3030;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c6cbe6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  text-decoration: none;
}

.nav-link:hover{
  color: var(--main-color); 
  cursor: pointer;
}


.Header{
  width: 100%;
  height: 10%;
}

.Main{
  width: 100%;
  height: 80%;
}

.Footer{
  width: 100%;
  height: 10%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border: 1px solid ;
}
 
::-webkit-scrollbar-thumb {
  background: var(--main-color); 
  border: 1px solid var(--darker-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color); 
}